<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         executionOrder="random"
         bootstrap="./vendor/autoload.php"
         resolveDependencies="true"
         processIsolation="false"
         colors="true">
    <php>
        <env name="XDEBUG_MODE" value="coverage, debug" />
    </php>

    <coverage pathCoverage="false">
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
        <report>
            <clover outputFile="./test/test-reports/clover.xml"/>
            <html outputDirectory="./test/test-reports/coverage/html" lowUpperBound="50" highLowerBound="95"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="All Tests">
            <directory suffix="Test.php">./test/</directory>
        </testsuite>
    </testsuites>
</phpunit>
